[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "snowBrains/ShareKit"]
	path = snowBrains/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
