
.DS_Store

snowBrainsApp.zip

images n stuff/SnowBrains.png

images n stuff/prototype.png

images n stuff/brainsLogo.png

images n stuff/brainsHeaderBackground.png

images n stuff/brainsHeaderBackground.jpg

images n stuff/like:share bug chrome.png

*.xcuserstate

snowBrains/snowBrains.xcodeproj/xcuserdata/Patrick.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

snowBrains/snowBrains.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate

snowBrains/snowBrains.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate

snowBrains/snowBrains.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate

snowBrains/snowBrains.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate

snowBrains/snowBrains.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate

snowBrains/snowBrains.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate

snowBrains/snowBrains.xcodeproj/project.xcworkspace/xcuserdata/Patrick.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

protoType
