<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Main</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Home</string>
				<key>link</key>
				<string>www.snowbrains.com</string>
				<key>icon</key>
				<string>home</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Locations</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>locations</string>
				<key>subgroup</key>
				<true/>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>Home</string>
						<key>link</key>
						<string>www.snowbrains.com</string>
						<key>icon</key>
						<string>home</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Locations</string>
						<key>link</key>
						<string>www.snowbrains.com</string>
						<key>icon</key>
						<string>locations</string>
						<key>subgroup</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Home</string>
						<key>link</key>
						<string>www.snowbrains.com</string>
						<key>icon</key>
						<string>home</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Home</string>
						<key>link</key>
						<string>www.snowbrains.com</string>
						<key>icon</key>
						<string>home</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>More</string>
						<key>link</key>
						<string></string>
						<key>icon</key>
						<string>more</string>
						<key>subgroup</key>
						<true/>
						<key>items</key>
						<array>
							<dict>
								<key>name</key>
								<string>Home</string>
								<key>link</key>
								<string>www.snowbrains.com</string>
								<key>icon</key>
								<string>home</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>Locations</string>
								<key>link</key>
								<string>www.snowbrains.com</string>
								<key>icon</key>
								<string>locations</string>
								<key>subgroup</key>
								<true/>
							</dict>
							<dict>
								<key>name</key>
								<string>Home</string>
								<key>link</key>
								<string>www.snowbrains.com</string>
								<key>icon</key>
								<string>home</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>Home</string>
								<key>link</key>
								<string>www.snowbrains.com</string>
								<key>icon</key>
								<string>home</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>Home</string>
								<key>link</key>
								<string>www.snowbrains.com</string>
								<key>icon</key>
								<string>home</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>Home</string>
								<key>link</key>
								<string>www.snowbrains.com</string>
								<key>icon</key>
								<string>home</string>
								<key>subgroup</key>
								<false/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Weather</string>
				<key>link</key>
				<string>www.snowbrains.com/category/weather</string>
				<key>icon</key>
				<string>weather</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Video</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>video</string>
				<key>subgroup</key>
				<true/>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>Brain Videos</string>
						<key>link</key>
						<string>www.snowbrains.com/category/video/brainvideos</string>
						<key>icon</key>
						<string>brain videos</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Locations</string>
						<key>link</key>
						<string>www.snowbrains.com</string>
						<key>icon</key>
						<string>locations</string>
						<key>subgroup</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Home</string>
						<key>link</key>
						<string>www.snowbrains.com</string>
						<key>icon</key>
						<string>home</string>
						<key>subgroup</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Home</string>
				<key>link</key>
				<string>www.snowbrains.com</string>
				<key>icon</key>
				<string>home</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Home</string>
				<key>link</key>
				<string>www.snowbrains.com</string>
				<key>icon</key>
				<string>home</string>
				<key>subgroup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Other</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Settings</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>settings</string>
				<key>subgroup</key>
				<string>NO</string>
			</dict>
		</array>
		<key>items - 2</key>
		<array>
			<dict>
				<key>name</key>
				<string>Contact</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>contact</string>
				<key>subgroup</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
