<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Main</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Home</string>
				<key>link</key>
				<string>http://www.cyclebrains.com/</string>
				<key>icon</key>
				<string>cyclebrains_home</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Locations</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>locations</string>
				<key>subgroup</key>
				<true/>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>Tahoe</string>
						<key>link</key>
						<string>http://cyclebrains.com/category/cycle/locations-cycle/tahoe-cycle/</string>
						<key>icon</key>
						<string>mammoth</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Whistler</string>
						<key>link</key>
						<string>http://cyclebrains.com/category/cycle/locations-cycle/whistler-cycle/</string>
						<key>icon</key>
						<string>whistler</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Colorado</string>
						<key>link</key>
						<string>http://cyclebrains.com/category/cycle/locations-cycle/colorado-cycle/</string>
						<key>icon</key>
						<string>colorado</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Utah</string>
						<key>link</key>
						<string>http://cyclebrains.com/category/cycle/locations-cycle/utah-cycle/</string>
						<key>icon</key>
						<string>utah</string>
						<key>subgroup</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Video</string>
				<key>link</key>
				<string>http://cyclebrains.com/category/cycle/video-cycle/</string>
				<key>icon</key>
				<string>video</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Gear</string>
				<key>link</key>
				<string>http://cyclebrains.com/category/cycle/gear-cycle/</string>
				<key>icon</key>
				<string>gear</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Brains</string>
				<key>link</key>
				<string>http://cyclebrains.com/category/brains</string>
				<key>icon</key>
				<string>brains</string>
				<key>subgroup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Bookmarks</string>
	</dict>
	<dict>
		<key>section</key>
		<string>Other</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Settings</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>settings</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Contact</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>contact</string>
				<key>subgroup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>cyclebrains</string>
		<key>id</key>
		<string>665840444</string>
		<key>testflight</key>
		<string>b08d48f6-a687-4a6f-bc05-1788493b5f17</string>
		<key>burstly</key>
		<string></string>
		<key>menuColour</key>
		<string>cyclebrains_sideBarCellBackground</string>
		<key>menuColourSelected</key>
		<string>cyclebrains_sideBarCellBackgroundSelected</string>
		<key>menuHeaderImage</key>
		<string>cyclebrains_menuHeaderImage</string>
		<key>logoImage</key>
		<string>cyclebrains_logo</string>
		<key>headerImage</key>
		<string>cyclebrains_headerPortrait</string>
		<key>headerLandscapeImage</key>
		<string>cyclebrains_headerLandscape</string>
		<key>headerIphone5Image</key>
		<string>cyclebrains_headerIPhone5</string>
		<key>loadingImage</key>
		<string>cyclebrains_loadingBackground</string>
		<key>spinnerImage</key>
		<string>cyclebrains_spinner</string>
		<key>headlessImage</key>
		<string>cyclebrains_headless</string>
		<key>buttonBackgroundColour</key>
		<string>cyclebrains_buttonBackground</string>
	</dict>
</array>
</plist>
