<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Main</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Home</string>
				<key>link</key>
				<string>http://www.snowbrains.com/</string>
				<key>icon</key>
				<string>snowbrains_home</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Locations</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>locations</string>
				<key>subgroup</key>
				<true/>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>Squaw</string>
						<key>link</key>
						<string>http://snowbrains.com/category/locations/squaw/</string>
						<key>icon</key>
						<string>squaw</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Jackson</string>
						<key>link</key>
						<string>http://snowbrains.com/category/locations/jackson/</string>
						<key>icon</key>
						<string>jackson</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Whistler</string>
						<key>link</key>
						<string>http://snowbrains.com/category/locations/whistler/</string>
						<key>icon</key>
						<string>whistler</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Alaska</string>
						<key>link</key>
						<string>http://snowbrains.com/category/locations/alaska/</string>
						<key>icon</key>
						<string>alaska</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>More</string>
						<key>link</key>
						<string></string>
						<key>icon</key>
						<string>more</string>
						<key>subgroup</key>
						<true/>
						<key>items</key>
						<array>
							<dict>
								<key>name</key>
								<string>Utah</string>
								<key>link</key>
								<string>http://snowbrains.com/category/locations/utah/</string>
								<key>icon</key>
								<string>utah</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>Mammoth</string>
								<key>link</key>
								<string>http://snowbrains.com/category/locations/mammoth/</string>
								<key>icon</key>
								<string>mammoth</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>PNW</string>
								<key>link</key>
								<string>http://snowbrains.com/category/locations/pacificnorthwest/</string>
								<key>icon</key>
								<string>pnw</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>South America</string>
								<key>link</key>
								<string>http://snowbrains.com/category/locations/southamerica/</string>
								<key>icon</key>
								<string>south america</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>Japan</string>
								<key>link</key>
								<string>http://snowbrains.com/category/locations/japan/</string>
								<key>icon</key>
								<string>japan</string>
								<key>subgroup</key>
								<false/>
							</dict>
							<dict>
								<key>name</key>
								<string>Alps</string>
								<key>link</key>
								<string>http://snowbrains.com/category/locations/alps/</string>
								<key>icon</key>
								<string>alps</string>
								<key>subgroup</key>
								<false/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Weather</string>
				<key>link</key>
				<string>http://www.snowbrains.com/category/weather/</string>
				<key>icon</key>
				<string>weather</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Video</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>video</string>
				<key>subgroup</key>
				<true/>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>Brain Videos</string>
						<key>link</key>
						<string>http://www.snowbrains.com/category/video/brainvideos/</string>
						<key>icon</key>
						<string>brain videos</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Non-Brain Videos</string>
						<key>link</key>
						<string>http://snowbrains.com/category/video/nonbrain/</string>
						<key>icon</key>
						<string>non-brain videos</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Trailers</string>
						<key>link</key>
						<string>http://snowbrains.com/category/video/trailer/</string>
						<key>icon</key>
						<string>trailers</string>
						<key>subgroup</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Gear</string>
				<key>link</key>
				<string>http://snowbrains.com/category/gear/</string>
				<key>icon</key>
				<string>gear</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Brains</string>
				<key>link</key>
				<string>http://snowbrains.com/category/brains/</string>
				<key>icon</key>
				<string>brains</string>
				<key>subgroup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Bookmarks</string>
	</dict>
	<dict>
		<key>section</key>
		<string>Other</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Settings</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>settings</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Contact</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>contact</string>
				<key>subgroup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>snowbrains</string>
		<key>id</key>
		<string>642740107</string>
		<key>menuColour</key>
		<string>snowbrains_sideBarCellBackground</string>
		<key>menuColourSelected</key>
		<string>snowbrains_sideBarCellBackgroundSelected</string>
		<key>menuHeaderImage</key>
		<string>snowbrains_menuHeaderImage</string>
		<key>logoImage</key>
		<string>snowbrains_logo</string>
		<key>headerImage</key>
		<string>snowbrains_headerPortrait</string>
		<key>headerLandscapeImage</key>
		<string>snowbrains_headerLandscape</string>
		<key>headerIphone5Image</key>
		<string>snowbrains_headerIPhone5</string>
		<key>loadingImage</key>
		<string>snowbrains_loadingBackground</string>
		<key>spinnerImage</key>
		<string>snowbrains_spinner</string>
		<key>headlessImage</key>
		<string>snowbrains_headless</string>
		<key>buttonBackgroundColour</key>
		<string>snowbrains_buttonBackground</string>
	</dict>
</array>
</plist>
