<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Main</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Home</string>
				<key>link</key>
				<string>http://www.swellbrains.com/</string>
				<key>icon</key>
				<string>swellbrains_home</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Locations</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>locations</string>
				<key>subgroup</key>
				<true/>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>Indonesia</string>
						<key>link</key>
						<string>http://swellbrains.com/category/swell/indonesia-swell/</string>
						<key>icon</key>
						<string>indonesia</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>Nor Cal</string>
						<key>link</key>
						<string>http://snowbrains.com/category/swell/locations-swell/norcal/</string>
						<key>icon</key>
						<string>mammoth</string>
						<key>subgroup</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>So Cal</string>
						<key>link</key>
						<string>http://snowbrains.com/category/swell/locations-swell/socal/</string>
						<key>icon</key>
						<string>so cal</string>
						<key>subgroup</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Video</string>
				<key>link</key>
				<string>http://swellbrains.com/category/swell/video-swell/</string>
				<key>icon</key>
				<string>video</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Gear</string>
				<key>link</key>
				<string>http://swellbrains.com/category/swell/gear-swell/</string>
				<key>icon</key>
				<string>gear</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Brains</string>
				<key>link</key>
				<string>http://swellbrains.com/category/brains</string>
				<key>icon</key>
				<string>brains</string>
				<key>subgroup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Bookmarks</string>
	</dict>
	<dict>
		<key>section</key>
		<string>Other</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Settings</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>settings</string>
				<key>subgroup</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Contact</string>
				<key>link</key>
				<string></string>
				<key>icon</key>
				<string>contact</string>
				<key>subgroup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>swellbrains</string>
		<key>id</key>
		<string></string>
		<key>menuColour</key>
		<string>swellbrains_sideBarCellBackground</string>
		<key>menuColourSelected</key>
		<string>swellbrains_sideBarCellBackgroundSelected</string>
		<key>menuHeaderImage</key>
		<string>swellbrains_menuHeaderImage</string>
		<key>logoImage</key>
		<string>swellbrains_logo</string>
		<key>headerImage</key>
		<string>swellbrains_headerPortrait</string>
		<key>headerLandscapeImage</key>
		<string>swellbrains_headerLandscape</string>
		<key>headerIphone5Image</key>
		<string>swellbrains_headerIPhone5</string>
		<key>loadingImage</key>
		<string>swellbrains_loadingBackground</string>
		<key>spinnerImage</key>
		<string>swellbrains_spinner</string>
		<key>headlessImage</key>
		<string>swellbrains_headless</string>
		<key>buttonBackgroundColour</key>
		<string>swellbrains_buttonBackground</string>
	</dict>
</array>
</plist>
